<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="utf-8"/>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <v-container class="grey lighten-5 mb-6">
        <v-row>
          <v-col
            cols="12"
            md="8"
          >
            <v-card
              class="pa-2"
              outlined
              tile
            >
              .col-12 .col-md-8
            </v-card>
          </v-col>
          <v-col
            cols="6"
            md="4"
          >
            <v-card
              class="pa-2"
              outlined
              tile
            >
              .col-6 .col-md-4
            </v-card>
          </v-col>
        </v-row>

        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <v-row>
          <v-col
            v-for="n in 3"
            :key="n"
            cols="6"
            md="4"
          >
            <v-card
              class="pa-2"
              outlined
              tile
            >
              .col-6 .col-md-4
            </v-card>
          </v-col>
        </v-row>

        <!-- Columns are always 50% wide, on mobile and desktop -->
        <v-row>
          <v-col
            v-for="n in 2"
            :key="n"
            cols="6"
          >
            <v-card
              class="pa-2"
              outlined
              tile
            >
              .col-6
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify,
      data: {
      }
    });
  </script>
</body>
</html>
