<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="utf-8"/>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <v-app id="inspire">
        <v-app-bar
          app
          color="white"
          flat
        >
          <v-container class="py-0 fill-height">
            <v-avatar
              class="mr-10"
              color="grey darken-1"
              size="32"
            ></v-avatar>

            <v-btn
              v-for="link in links"
              :key="link"
              text
              @click="linkClicked(link)"
            >
              {{ link }}
            </v-btn>

            <v-spacer></v-spacer>

            <v-responsive max-width="260">
              <v-text-field
                dense
                flat
                hide-details
                rounded
                solo-inverted
              ></v-text-field>
            </v-responsive>
          </v-container>
        </v-app-bar>

        <v-main class="grey lighten-3">
          <v-container class="gmap_container">
            <v-row class="gmap_row">
              <v-col cols="2">
                <v-sheet rounded="lg">
                  <v-list color="transparent">
                    <v-list-item
                      v-for="n in 5"
                      :key="n"
                      link
                    >
                      <v-list-item-content>
                        <v-list-item-title>
                          List Item {{ n }}
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>

                    <v-divider class="my-2"></v-divider>

                    <v-list-item
                      link
                      color="grey lighten-4"
                    >
                      <v-list-item-content>
                        <v-list-item-title>
                          Refresh
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-sheet>
              </v-col>

              <v-col class="gmap_col">
                <v-sheet
                  min-height="80vh"
                  rounded="lg"
                  class="gmap_col"
                >
                  <div class="gmap">
                    <div id="map" class="inner_map">
                      <!--gmap-->
                    </div>
                  </div>
                </v-sheet>
              </v-col>
          </v-container>
        </v-main>
      </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={YOUR_API_KEY}"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify,
      data: {
        links: [
          'Dashboard',
          'Messages',
          'Profile',
          'Updates',
          ]
      },
      mounted () {
        let location = new google.maps.LatLng(35.62410667945785, 139.7435494215383);
        let mapCanvas = document.getElementById('map');
        let mapOptions = {
          center: location,
          zoom: 9,
          panControl: false,
          scrollwheel: false,
        }
        this.map = new google.maps.Map(mapCanvas, mapOptions);
      },
      methods :{
        linkClicked: function(link) {
          console.log('clicked : ' + link);
        }
      }      
    });
  </script>
  <style>
    .gmap {
      height: 100%;
      width: 100%;
      position: relative;
    }
    .inner_map {
      height: 100%;
    }
    .gmap_container {
      height: 100%;
    }
    .gmap_row {
      height:100%;
    }
    .gmap_col {
      height:100%;
    }
  </style>
</body>
</html>
