<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="utf-8"/>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <v-container class="grey lighten-5 mb-6">
        <v-row align="center">
          <v-time-picker
            v-model="time"
            type="month"
            width="290"
            class="ml-4"
          ></v-time-picker>
          <v-col class="pa-0 mx-4 mt-4 mt-sm-0">
            <v-time-picker
              v-model="time"
              :landscape="$vuetify.breakpoint.mdAndUp"
              full-width
              type="month"
            ></v-time-picker>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify,
      data: {
        time: '11:15',        
      }
    });
  </script>
</body>
</html>
