<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="utf-8"/>
</head>
<body>
  <div id="app">
    <v-app id="inspire">
        <v-navigation-drawer
          v-model="drawer"
          app
          class="pt-4"
          color="grey lighten-3"
          mini-variant
        >
          <v-avatar
            v-for="n in 6"
            :key="n"
            :color="`grey ${n === 1 ? 'darken' : 'lighten'}-1`"
            :size="n === 1 ? 36 : 20"
            class="d-block text-center mx-auto mb-9"
          ></v-avatar>
        </v-navigation-drawer>


        <v-main>
            <router-link to="/page1">トップページ</router-link>
            <router-link to="/page2">ユーザー一覧ページ</router-link>
          <router-view>


          </router-view>
        </v-main>
      </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.2.x/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
  <script>


    var router = new VueRouter({
          mode:'history',
          // base:'/app/public/',
          routes: [
              {
                  path: '/page1',
                  component: {
                      template: '<div>ページ１を表示</div>',
                  }
              },
              {
                  path: '/page2',
                  component: {
                      template: '<div>ページ2を表示</div>',
                  }
              }
          ]
      });


    new Vue({
      el: '#app',
      router: router,
      vuetify: new Vuetify,
      data: {
      },
      methods: {
        greet: function (event) {
          // メソッド内の `this` は、 Vue インスタンスを参照します
          alert('Hello ' + this.name + '!')
          // `event` は、ネイティブ DOM イベントです
          if (event) {
            alert(event.target.tagName)
          }
        }
      }
    });
  </script>
</body>
</html>
