<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="utf-8"/>
  <style>
    [v-cloak] {
      display: none;
    }

    .dragArea{
        min-height: 10px;	
    }

  </style>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <v-container class="grey lighten-5 mb-6">
        <v-row>
            <v-col
            cols="12">
                <v-btn
                    depressed
                    v-on:click="insertItem"
                    color="blue darken-1">
                    リスト追加
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col
                cols="3"
            >
            <v-list>
                <draggable class="dragArea"
                    group="ITEMS"
                    v-model="items1">
                    <v-list-item
                        v-for="item, index in myList1"
                        :key="item.no"
                        color="success"
                        class="my-2">
                        <v-list-item-content>
                        <v-list-item-title>
                            <v-chip
                                class="ma-2"
                                small
                            >
                                No.{{item.no}}
                            </v-chip>                              
                            {{item.name}}
                        </v-list-item-title>                                     
                        <v-list-item-subtitle>
                            <v-btn
                                depressed
                                block
                                v-on:click="deleteItem(item, index, '1')"
                                color="error">
                                削除
                            </v-btn>
                        </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
            
                </draggable>
            </v-list>
        
            </v-col>
            <v-col
                cols="3"
            >
            <v-list>
                <draggable class="dragArea"
                    group="ITEMS"
                    v-model="myList2">
                    <v-list-item
                        v-for="item, index in myList2"
                        :key="item.no">
                        <v-list-item-content>
                        <v-list-item-title>
                            <v-chip
                                class="ma-2"
                                small
                            >
                                No.{{item.no}}
                            </v-chip>                              
                            {{item.name}}
                        </v-list-item-title>
                                        
                        <v-list-item-subtitle>
                            <v-btn
                                depressed
                                block
                                v-on:click="deleteItem(item, index, '2')"
                                color="error">
                                削除
                            </v-btn>
                        </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>        
                </draggable>
            </v-list>        
        
            </v-col>
            <v-col
                cols="3"
            >
            <v-list>
                <draggable class="dragArea"
                    group="ITEMS"
                    v-model="myList3">
                    <v-list-item
                        v-for="item, index in myList3"
                        :key="item.no">
                        <v-list-item-content>
                        <v-list-item-title>
                            <v-chip
                                class="ma-2"
                                small
                            >
                                No.{{item.no}}
                            </v-chip>                              
                            {{item.name}}
                        </v-list-item-title>
                                        
                        <v-list-item-subtitle>
                            <v-btn
                                depressed
                                block
                                v-on:click="deleteItem(item, index, '3')"
                                color="error">
                                削除
                            </v-btn>
                        </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </draggable>
            </v-list>          
            </v-col>
            <v-col
                cols="3"
            >
            <v-list>
                <draggable class="dragArea"
                    group="ITEMS"
                    v-model="myList4">
                    <v-list-item
                        v-for="item, index in myList4"
                        :key="item.no">
                        <v-list-item-content>
                        <v-list-item-title>
                            <v-chip
                                class="ma-2"
                                small
                            >
                                No.{{item.no}}
                            </v-chip>                              
                            {{item.name}}
                        </v-list-item-title>
                                        
                        <v-list-item-subtitle>
                            <v-btn
                                depressed
                                block
                                v-on:click="deleteItem(item, index, '4')"
                                color="error">
                                削除
                            </v-btn>
                        </v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                </draggable>
            </v-list>          
            </v-col>
            

        </v-row>
      </v-container>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.23.2/vuedraggable.umd.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify,
        data: {
            items1:[
                {no:1, name:'キャベツ', categoryNo:'1'},
                {no:5, name:'きゅうり', categoryNo:'1'},
                {no:9, name:'にんじん', categoryNo:'1'},
                {no:10, name:'トマト', categoryNo:'1'}
            ],
            items2:[
                {no:2, name:'ステーキ', categoryNo:'2'},
                {no:6, name:'ハンバーグ', categoryNo:'2'},
                {no:11, name:'とんかつ', categoryNo:'2'},
                {no:12, name:'からあげ', categoryNo:'2'}
            ],
            items3:[
                {no:3, name:'リンゴ', categoryNo:'3'},
                {no:7, name:'バナナ', categoryNo:'3'},
                {no:13, name:'ブドウ', categoryNo:'3'},
                {no:14, name:'オレンジ', categoryNo:'3'},
            ],
            items4:[
                {no:4, name:'冷蔵庫', categoryNo:'4'},
                {no:8, name:'PS4', categoryNo:'4'},
                {no:15, name:'電子レンジ', categoryNo:'4'},
                {no:16, name:'Xbox', categoryNo:'4'},
            ],
            newNo: 0
        },
        methods:{
            insertItem: function(){
                var self = this;
                var no = 0;
                if(self.items1.concat().length > 0){
                    no =  Math.max.apply(null, self.items1.concat().map(function(item){return item.no;})) +1;
                    self.newNo = self.newNo < no ? no:self.newNo;
                }
                if(self.items2.concat().length > 0){
                    no =  Math.max.apply(null, self.items2.concat().map(function(item){return item.no;})) +1;

                    self.newNo = self.newNo < no ? no:self.newNo;
                }
                if(self.items3.concat().length > 0){
                    no =  Math.max.apply(null, self.items3.concat().map(function(item){return item.no;})) +1;

                    self.newNo = self.newNo < no ? no:self.newNo;
                }
                if(self.items4.concat().length > 0){
                    no =  Math.max.apply(null, self.items4.concat().map(function(item){return item.no;})) +1;

                    self.newNo = self.newNo < no ? no:self.newNo;
                }

                this.items1.push(
                    {
                    no:this.newNo,
                    name:'追加リスト'+ this.newNo,
                    categoryNo:'5'
                    }
                );
            },
            deleteItem: function(item, index, group){
                switch (group) {
                    case '1':
                        var ITEMS = this.items1;
                        break;
                    case '2':
                        var ITEMS = this.items2;
                        break;
                    case '3':
                        var ITEMS = this.items3;
                        break;
                    case '4':
                        var ITEMS = this.items4;
                        break;
                }
                ITEMS.splice(index, 1);
            }
        },
        computed: {
            myList1: {
                get() {
                    return this.items1;
                },
                set(value) {
                    this.items1 = value;
                }
            },
            myList2: {
                get() {
                    return this.items2;
                },
                set(value) {
                    this.items2 = value;
                }
            },
            myList3: {
                get() {
                    return this.items3;
                },
                set(value) {
                    this.items3 = value;
                }
            },
            myList4: {
                get() {
                    return this.items4;
                },
                set(value) {
                    this.items4 = value;
                }
            }
        }        
    });
  </script>
</body>
</html>
