<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta charset="utf-8"/>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app" v-cloak>
    <v-app>
      <v-container class="grey lighten-5 mb-6">
        <v-container fluid>
          <v-select
            v-model="selectedFruits"
            :items="fruits"
            label="Favorite Fruits"
            multiple
          >
            <template v-slot:prepend-item>
              <v-list-item
                ripple
                @click="toggle"
              >
                <v-list-item-action>
                  <v-icon :color="selectedFruits.length > 0 ? 'indigo darken-4' : ''">
                    {{ icon }}
                  </v-icon>
                </v-list-item-action>
                <v-list-item-content>
                  <v-list-item-title>
                    Select All
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-divider class="mt-2"></v-divider>
            </template>
            <template v-slot:append-item>
              <v-divider class="mb-2"></v-divider>
              <v-list-item disabled>
                <v-list-item-avatar color="grey lighten-3">
                  <v-icon>
                    mdi-food-apple
                  </v-icon>
                </v-list-item-avatar>

                <v-list-item-content v-if="likesAllFruit">
                  <v-list-item-title>
                    Holy smokes, someone call the fruit police!
                  </v-list-item-title>
                </v-list-item-content>

                <v-list-item-content v-else-if="likesSomeFruit">
                  <v-list-item-title>
                    Fruit Count
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    {{ selectedFruits.length }}
                  </v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-content v-else>
                  <v-list-item-title>
                    How could you not like fruit?
                  </v-list-item-title>
                  <v-list-item-subtitle>
                    Go ahead, make a selection above!
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-select>
        </v-container>
      </v-container>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify,
      data: {
        fruits: [
          'Apples',
          'Apricots',
          'Avocado',
          'Bananas',
          'Blueberries',
          'Blackberries',
          'Boysenberries',
          'Bread fruit',
          'Cantaloupes (cantalope)',
          'Cherries',
          'Cranberries',
          'Cucumbers',
          'Currants',
          'Dates',
          'Eggplant',
          'Figs',
          'Grapes',
          'Grapefruit',
          'Guava',
          'Honeydew melons',
          'Huckleberries',
          'Kiwis',
          'Kumquat',
          'Lemons',
          'Limes',
          'Mangos',
          'Mulberries',
          'Muskmelon',
          'Nectarines',
          'Olives',
          'Oranges',
          'Papaya',
          'Peaches',
          'Pears',
          'Persimmon',
          'Pineapple',
          'Plums',
          'Pomegranate',
          'Raspberries',
          'Rose Apple',
          'Starfruit',
          'Strawberries',
          'Tangerines',
          'Tomatoes',
          'Watermelons',
          'Zucchini',
        ],
        selectedFruits: [],
      },
      computed: {
        likesAllFruit () {
          return this.selectedFruits.length === this.fruits.length
        },
        likesSomeFruit () {
          return this.selectedFruits.length > 0 && !this.likesAllFruit
        },
        icon () {
          if (this.likesAllFruit) return 'mdi-close-box'
          if (this.likesSomeFruit) return 'mdi-minus-box'
          return 'mdi-checkbox-blank-outline'
        },
      },
      methods: {
        toggle () {
          this.$nextTick(() => {
            if (this.likesAllFruit) {
              this.selectedFruits = []
            } else {
              this.selectedFruits = this.fruits.slice()
            }
          })
        },
      },
    });
  </script>
</body>
</html>
